---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Area soci"
	description=""
	pubDate={new Date('2023-09-12')}
	heroImage={AboutHeroImage}
	draft={true}
>
	<p>
	
	</p>
</Layout>
