---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Contattaci"
	description=""
	pubDate={new Date('2019-04-28T00:00:00.000Z')}
	draft={false}
>
	<p>
		Risponderemo il più presto possibile. Siamo a tua disposizione.
	</p>
</Layout>

